body {
    background: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

.box {
    width: 350px;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
}

#chat {
    height: 320px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 14px;
}

.msg {
    margin-bottom: 6px;
}

input {
    width: 70%;
    padding: 5px;
}

button {
    padding: 6px 10px;
    margin-left: 5px;
}
